/* Paleta pastel accesible */

/* Azul pastel (#446b7e) - Encabezado y footer */
/* Beige pastel (#f0e8d0) - Fondo principal */
/* Lila pastel (#765dac) - Colores de texto en encabezado, títulos y botones */
/* Lila claro pastel (#ebe3f2) - texto header, Hover de botones */
/* Lila oscuro pastel (#584a78) - Hover de botones */
/* Verde pastel (#4f7851) - No utilizado en este diseño, pero podría aplicarse a alertas o errores */
/* Gris oscuro (#333333) - Texto general y párrafos */
/* Blanco pastel (#fefefe) - Texto de los elementos, fondos de botones y nav */
/* Azul claro pastel (#d0f0e8) - Nav hover */
/* Azul oscuro pastel (#) - Enlaces al pasar el mouse */
/* Rojo pastel (#94516c) - No se usa en este diseño, pero podría aplicarse a alertas o errores */


@font-face {
    font-family: 'KG Primary Penmanship';
    src: url('FONTS/KGPrimaryPenmanship2.ttf') format('truetype');
}

@font-face {
    font-family: 'Quintal Script';
    src: url('FONTS/QuintalScript-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Aliando Rocky';
    src: url('FONTS/AliandoRocky.ttf') format('truetype');
}

@font-face {
    font-family: 'Playpen Sans';
    src: url('FONTS/PlaypenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Klee One';
    src: url('FONTS/KleeOne-Regular.ttf') format('truetype');
}

body {
    font-family: 'Quintal Script', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333; /* Beige pastel */
    color: #333333; /* Gris oscuro */
    line-height: 1.6;
}

header {
    background-color: #446b7e;
    color: #f9f4ef;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img {
    max-width: 150px;
    margin: 0 auto;
}

header .header-text {
    font-family: 'KG Primary Penmanship', sans-serif; /* Fuente elegante para el texto */
    color: #f0ece0; /* Blanco pastel */
    font-size: 24px; /* Tamaño adecuado para un encabezado destacado */
    margin-top: 20px; /* Espacio entre la imagen y el texto */
    padding: 0 20px;
    line-height: 1.4;
}

header .header-text h1 {
    font-family: 'Playpen Sans', sans-serif;
    font-size: 22px; /* Tamaño más grande para el título principal */
    color: #fefefe; /* Lila pastel */
    margin-bottom: 20px;
}

header .header-text p {
    font-size: 18px; /* Tamaño del párrafo */
    color: #fefefe; /* Lila claro pastel */
    font-style: italic; /* Añadido estilo cursivo para mayor distinción */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #446b7e; /* Azul pastel */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-family: 'Playpen Sans', sans-serif;
    color: #fefefe; /* Blanco pastel */
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #d0f0e8; /* Azul claro pastel */
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #d0f0e8; /* Azul claro pastel */
}

section {
    padding: 20px 20px;
    text-align: center;
    background-color: #f0ece0; /* Beige pastel */
}

.project {
    background-color: #f0ece0; /* Beige pastel */
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.project img {
    max-width: 100%;
    border-radius: 15px;
}

h1 {
    font-family: 'Playpen Sans', sans-serif;
    color: #94516c; /* Lila pastel */
    font-size: 22px;
    position: relative;

}

h2 {
    font-family: 'Quintal Script', sans-serif;
    font-size: 35px;
    color: #446b7e; /* Azul pastel */
    margin-block-end: 0em;
    text-align: center ;
}

h3 {
    font-family: 'Playpen Sans', sans-serif;
    font-size: 22px;
    margin-block-start: 0.1em;
    color: #765dac; /* Lila pastel */
}

a {
    font-family: 'Playpen Sans', sans-serif;
    font-size: 18px;
    color: #446b7e; /* Azul pastel */
}

p {
    font-family: 'KG Primary Penmanship', sans-serif;
    font-size: 25px;
    color: #333333; /* Blanco pastel */
    margin-block: 2px;
}

ul {
    text-align: justify;
}

span {
    font-family: 'KG Primary Penmanship', sans-serif;
    font-size: 22px;
    text-align: centre;
    color: #fefefe; /* Gris oscuro */
}

.pJustify {
    text-align: justify;
    font-family: 'Playpen Sans', sans-serif;;
    font-size: 18px;
    text-align: justify;
    color: #333333; /* Gris oscuro */
}

div {
    font-family: 'Playpen Sans';
    font-size: 18px;
    color: #333333; /* Gris oscuro */
}

.margin {
    margin-left: 20%;
    margin-right: 20%;
}

.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.game.reverse {
    flex-direction: row-reverse; /* Invertir posiciones para alternar */
}

.game div {
    width: 48%;
    margin: 10px 0;
}

.game img {
    width: 315px;
    height: 250px;
    object-fit: cover;
    border-radius: 22px;
}


.gameTextDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gameImageDiv img {
    transition: opacity 1.4s ease-in-out;
}

.gameImageDiv {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.gameImageDiv:hover {
    transform: scale(1.02); /* Agranda el contenedor para dar un efecto interactivo */
}

.hover-indicator {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.hidden {
    opacity: 0;
}


button {
    background-color: #765dac; /* Lila pastel */
    color: #fefefe; /* Blanco pastel */
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    font-family: 'Playpen Sans', sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #584a78; /* Lila oscuro pastel */
}

footer {
    background-color: #446b7e; /* Azul pastel */
    color: #fefefe; /* Blanco pastel */
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Aliando Rocky', sans-serif;
}
